{% extends 'erp/user_operations/contract/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <!-- Display all fields in the Loose_Cargo_DetailsForm -->
    {% csrf_token %}
    {{ form|crispy }}

    <div class="p-3 mb-2 bg-white text-dark border border-secondary shadow-sm">
        <form method="POST" action="{% url 'loose_cargo_information' %}">
            {% csrf_token %}
            {{ loose_cargo_Information_form|crispy }}
            <!-- <button type="submit" class="btn btn-primary">Add Cargo Type</button> -->
        </form>
    </div>

{% endblock %}